[submodule "KernelSU"]
	path = KernelSU
	url = https://github.com/samakshkambxj/OriginSU.git
[submodule "susfs4ksu"]
	path = susfs4ksu
	url = https://gitlab.com/simonpunk/susfs4ksu.git
	branch = gki-android14-6.1-dev
[submodule "Baseband-guard"]
	path = Baseband-guard
	url = https://github.com/vc-teahouse/Baseband-guard.git
